*{
    padding:0;
    margin:0;
}
body{
   height:100%;
   width: 100%;
}
#rect{

    height:150px;
    width:90px;
    background:green;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}